body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f0f0; /* Light gray background */
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em; /* Larger font size for the main title */
    color: #333; /* Darker color for better contrast */
  }
  
  #login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #login-details {
    margin-top: 50px;
    text-align: center;
  }
  
  #welcome-message {
    color: green;
    font-weight: bold;
  }
  